# Project Information
site_name: Heterogeneous Programming With Kokkos
site_description: Project documentation with Markdown. 
site_author: Michael Redenti

repo_url: https://github.com/mredenti/Kokkos
edit_uri: edit/main/docs/

theme:
  name: material
  features:
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - toc.integrate
    - search.suggest
    - search.highlight
    - search.share
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      primary: teal
      accent: purple 
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      primary: teal
      accent: lime
  icon:
    repo: fontawesome/brands/git-alt

plugins:
  - git-revision-date-localized:
      type: date
      enable_creation_date: true
  - search
  - mkdocs-material-extensions

nav:
  - Home: index.md
  - 'Tutorial GPU Computing School':
    - 'Tutorial 00: Installing Kokkos': 'tutorials/installation/index.md'
    - 'Tutorial 02: vector addition': 'tutorials/vectorAdd/index.md'
  - 'KOKKOS Tutorials':
    - 'Prerequisites 01: Templates/Template Metaprogramming': 'tutorials/vectorAdd/index.md'
    - 'Prerequisites 02: Functors & Lambdas': 'tutorials/vectorAdd/index.md'
    - 'Tutorial 01: vector addition': 'tutorials/vectorAdd/index.md'

markdown_extensions:
  - markdown.extensions.extra
  - toc:
      permalink: true
  - attr_list
  - def_list
  - tables
  - pymdownx.highlight:
      use_pygments: false
  - pymdownx.snippets
  - pymdownx.superfences
  - codehilite
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

copyright: |
  &copy; 2023 <a href="https://github.com/mredenti"  target="_blank" rel="noopener">Michael Redenti</a>